<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.PersonalFinanceTracker"
        tools:targetApi="31"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".MoreActivity"
            android:exported="false" />
        <activity
            android:name=".MonthReport"
            android:exported="false"
            android:parentActivityName=".MainAppActivity" />
        <activity
            android:name=".SplashScreen"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ExpenseActivity"
            android:exported="false"
            android:parentActivityName=".MainAppActivity" />
        <activity
            android:name=".Total"
            android:exported="false"
            android:parentActivityName=".MainAppActivity" />
        <activity
            android:name=".MainAddActivity"
            android:exported="false"
            android:parentActivityName=".MainAppActivity" />
        <activity
            android:name=".MainAppActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>